<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hans Oskar Trolla, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="../../~rinde/media/pics/banner/vp_banner_2023.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Hans Oskar Trolla</h1>
	<p>See veebileht on valminud <a href="https://www.tlu.ee/" target="_blank">TLÜ</a> Digitehnoloogiate instituudi informaatika eriala õppetöö raames.</p>
	<hr>
	<p>Mulle meeldib tehnika ja hiljuti on ka auto teema silma hakanud.</p>
	<p>Autode teemaga väike asi, et võib-olla hakkab järgmine suvi Eesti peal veel üks ameeriklane ringi sõitma. :)</p>
	<hr>
</body>
</html>