<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hans Oskar Trolla, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Aeg lehe avamisel</h1>
	<p>Selle lehe avamisel oli aeg:</p>
	<ul>
		<li>Kuupäev: <%= nowD %></li>
		<li>Kellaeg: <%= nowT %></li>
	</ul>
	<hr>
	<ul>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>